/**
 * Greensky theme
 * A light green colored theme with query match highlighting and dotted rules
 * between each result. A slightly larger humanist sans, Trebuchet, is also used.
 */
/* Slight reset to make the preview have ample padding. */
.cse .gsc-control-cse,
.gsc-control-cse {
  padding: 1em;
  width: auto;
}
.cse .gsc-control-wrapper-cse,
.gsc-control-wrapper-cse {
  width: 100%;
}
.cse .gsc-branding,
.gsc-branding {
  display: none;
}
.cse .gsc-control-cse,
.gsc-control-cse {
  font-family: "Trebuchet MS", sans-serif;
  background-color: #e1f3da;
  border: 1px solid #e1f3da;
}
.gsc-control-cse .gsc-table-result {
  font-family: "Trebuchet MS", sans-serif;
}
.cse .gsc-control-cse:after,
.gsc-control-cse:after {
  content:".";
  display:block;
  height:0;
  clear:both;
  visibility:hidden;
}
.cse .gsc-resultsHeader,
.gsc-resultsHeader {
  border: block;
}
/**
 * Table cell containing the search input.
 * 12 pixels added to account for the horizontal padding on the input.
 */
.cse table.gsc-search-box td.gsc-input,
table.gsc-search-box td.gsc-input {
  padding-right: 12px;
}
/* Search input field */
.cse input.gsc-input,
input.gsc-input {
  font-family: inherit;
  font-size: 13px;
  border: 1px solid #94cc7a;
  padding: 4px 6px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
/* Search button */
.cse input.gsc-search-button,
input.gsc-search-button {
  font-family: inherit;
  font-size: 11px;
  font-weight: bold;
  color: #002100;
  padding: 0 8px;
  height: 28px;
  min-width: 54px;
  background: #B5C9AB;
  border: 1px solid #94cc7a;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  }
/* Base tab selector styles */
.cse .gsc-tabHeader,
.gsc-tabHeader {
  padding: 2px 8px 0 8px;
  border-top-right-radius: 2px;
  -moz-border-radius-topright: 2px;
  -webkit-border-top-right-radius: 2px;
  border-top-left-radius: 2px;
  -moz-border-radius-topleft: 2px;
  -webkit-border-top-left-radius: 2px;
}
/* Inactive tab */
.cse .gsc-tabHeader.gsc-tabhInactive,
.gsc-tabHeader.gsc-tabhInactive {
  border: 1px solid;
  border-color: #a9da92;
  border-bottom: none;
  background-color: #ffffff;
  color: #333333;
}
/* Active tab */
.cse .gsc-tabHeader.gsc-tabhActive,
.gsc-tabHeader.gsc-tabhActive {
  font-weight: bold;
  background-color: #B5C9AB;
  border: 1px solid;
  border-color: #a9da92;
  border-bottom: none;
  color: #333333;
}
/* This is the tab bar bottom border. */
.cse .gsc-tabsArea,
.gsc-tabsArea {
  margin-top: 1em;
  border-bottom: 1px solid;
  border-color: #a9da92;
  padding: 0;
}
/* Inactive refinement */
.cse .gsc-refinementHeader.gsc-refinementhInactive,
.gsc-refinementHeader.gsc-refinementhInactive {
  color: #0066cc;
}
/* Wrapper for all results */
.cse .gsc-results,
.gsc-results {
  width: 100%;
  margin-top: -5px;
  background-color: #ffffff;
}
/* Wrapper for a result */
.cse .gsc-webResult,
.gsc-webResult,
.gsc-webresult .gsc-result,
.gsc-imageResult-classic,
.gsc-imageResult-column {
  padding: .6em 0 1em 0;
  border-bottom: 1px dotted;
  border-color: #a9da92;
}
.cse .gs-spelling,
.gs-spelling,
.gs-per-result-labels {
  padding: 0 8px;
}
/* Font size */
.cse .gs-snippet,
.gs-snippet,
.cse .gs-spelling-original,
.gs-spelling-original {
  font-size: 14px;
  line-height: 17px;
}
/* Set link colors. */
.cse .gs-webResult.gs-result a.gs-title:link,
.gs-webResult.gs-result a.gs-title:link,
.cse .gs-webResult.gs-result a.gs-title:link b,
.gs-webResult.gs-result a.gs-title:link b,
.cse .gs-webResult.gs-result a.gs-title:visited,
.gs-webResult.gs-result a.gs-title:visited,
.cse .gs-webResult.gs-result a.gs-title:visited b,
.gs-webResult.gs-result a.gs-title:visited b,
.cse .gs-webResult.gs-result a.gs-title:hover,
.gs-webResult.gs-result a.gs-title:hover,
.cse .gs-webResult.gs-result a.gs-title:hover b,
.gs-webResult.gs-result a.gs-title:hover b,
.cse .gs-webResult.gs-result a.gs-title:active,
.gs-webResult.gs-result a.gs-title:active,
.cse .gs-webResult.gs-result a.gs-title:active b,
.gs-webResult.gs-result a.gs-title:active b,
.gs-imageResult a.gs-title:link,
.gs-imageResult a.gs-title:link b,
.gs-imageResult a.gs-title:visited,
.gs-imageResult a.gs-title:visited b,
.gs-imageResult a.gs-title:hover,
.gs-imageResult a.gs-title:hover b,
.gs-imageResult a.gs-title:active,
.gs-imageResult a.gs-title:active b,
.cse .gsc-cursor-page,
.gsc-cursor-page,
.cse a.gsc-trailing-more-results:link,
a.gsc-trailing-more-results:link,
.cse .gs-spelling a,
.gs-spelling a {
  color: #0066cc;
}
/* Override default.css selector to disable underlines. */
.cse .gs-result .gs-title,
.gs-result .gs-title,
.cse .gs-result .gs-title *,
.gs-result .gs-title *,
.cse .gs-promotion a.gs-title,
.gs-promotion a.gs-title,
.cse .gs-promotion a.gs-title *,
.gs-promotion a.gs-title *,
.cse .gs-promotion .gs-snippet a,
.gs-promotion .gs-snippet a,
.cse .gsc-cursor-page,
.gsc-cursor-page,
.cse .gsc-results .gsc-trailing-more-results,
.gsc-results .gsc-trailing-more-results,
.cse .gsc-results .gsc-trailing-more-results *,
.gsc-results .gsc-trailing-more-results *,
.cse .gs-spelling a,
.gs-spelling a {
  text-decoration: none;
}
/* Snippet text */
.cse .gs-webResult .gs-snippet,
.gs-webResult .gs-snippet,
.gs-fileFormatType,
.gs-imageResult .gs-snippet {
 color: #454545;
}

/* URL styling */
.cse .gs-webResult .gs-visibleUrl,
.gs-webResult .gs-visibleUrl,
.cse .gs-webResult .gs-visibleUrl-short,
.gs-webResult .gs-visibleUrl-short,
.gs-imageResult .gs-visibleUrl,
.gs-imageResult .gs-visibleUrl-short {
  color: #815FA7;
}
/* Pagination container centered */
.cse .gsc-cursor-box,
.gsc-cursor-box {
  padding: 1em .8px;
  text-align: center;
}
/* Pagination */
.cse .gsc-cursor-page,
.gsc-cursor-page {
  padding: .2em .5em;
  border: 1px solid;
  border-color: #a9da92;
}
.cse .gsc-results .gsc-cursor-page.gsc-cursor-current-page,
.gsc-results .gsc-cursor-page.gsc-cursor-current-page {
  color: #333333;
  text-shadow: 0 1px 2px #ffffff;
  background-color: #a9da92;
}
/*Promotion Settings*/
/* The entire promo */
.cse .gsc-webResult.gsc-result.gsc-promotion,
.gsc-webResult.gsc-result.gsc-promotion {
  background-color: #CBE8B4;
  border-color: #94CC7A;
}
/* Promotion links */
.cse .gs-promotion a.gs-title:link,
.gs-promotion a.gs-title:link,
.cse .gs-promotion a.gs-title:link *,
.gs-promotion a.gs-title:link *,
.cse .gs-promotion .gs-snippet a:link,
.gs-promotion .gs-snippet a:link {
  color: #0066CC;
}
.cse .gs-promotion a.gs-title:visited,
.gs-promotion a.gs-title:visited,
.cse .gs-promotion a.gs-title:visited *,
.gs-promotion a.gs-title:visited *,
.cse .gs-promotion .gs-snippet a:visited,
.gs-promotion .gs-snippet a:visited {
  color: #0066CC;
}
.cse .gs-promotion a.gs-title:hover,
.gs-promotion a.gs-title:hover,
.cse .gs-promotion a.gs-title:hover *,
.gs-promotion a.gs-title:hover *,
.cse .gs-promotion .gs-snippet a:hover,
.gs-promotion .gs-snippet a:hover {
  color: #0066CC;
}
.cse .gs-promotion a.gs-title:active,
.gs-promotion a.gs-title:active,
.cse .gs-promotion a.gs-title:active *,
.gs-promotion a.gs-title:active *,
.cse .gs-promotion .gs-snippet a:active,
.gs-promotion .gs-snippet a:active {
  color: #0066CC;
}
/* Promotion snippet */
.cse .gs-promotion .gs-snippet,
.gs-promotion .gs-snippet,
.cse .gs-promotion .gs-title .gs-promotion-title-right,
.gs-promotion .gs-title .gs-promotion-title-right,
.cse .gs-promotion .gs-title .gs-promotion-title-right *,
.gs-promotion .gs-title .gs-promotion-title-right * {
  color: #454545;
}
/* Promotion url */
.cse .gs-promotion .gs-visibleUrl,
.gs-promotion .gs-visibleUrl {
  color: #815FA7;
}
/* Style for auto-completion table
 * .gsc-completion-selected : styling for a suggested query which the user has moused-over
 * .gsc-completion-container : styling for the table which contains the completions
 */
.gsc-completion-selected {
  background: #E1F3DA;
}
.gsc-completion-container {
  font-family: "Trebuchet MS", sans-serif;
  font-size: 13px;
  background: white;
  border: 1px solid #94CC7A;
  margin-left: 0;
  margin-right: 0;
  text-shadow: 0 1px 2px #ffffff;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  /* The top, left, and width are set in JavaScript. */
}
.gsc-completion-title {
  color: #0066CC;
}
.gsc-completion-snippet {
  color: #454545;
}

/* Full URL */
.gs-webResult div.gs-visibleUrl-short,
.gs-promotion div.gs-visibleUrl-short {
  display: none;
}
.gs-webResult div.gs-visibleUrl-long,
.gs-promotion div.gs-visibleUrl-long {
  display: block;
}

.gs-webResult,
.gs-promotion {
  margin-left: 6px;
}

.gsc-rating-bar {
  display: inline-block;
  width: 53px;
  height: 10px;
  background: transparent url(/cse/images/cse_snippets_stars.png) -52px -22px no-repeat;
  margin: 4px 0 0 0;
}

.gsc-rating-bar span {
  display: inline-block;
  height: 10px;
  background: transparent url(/cse/images/cse_snippets_stars.png) 0 -22px no-repeat;
}

.gsc-reviewer {
  color: #06c;
}

.gsc-author {
  color: #06c;
}

.gsc-option-menu-item-highlighted {
  background: #e1f3da;
}

/* Facet box css */
.gsc-context-box {
  font-size: 83%;
  margin-top: 3px;
  border-collapse: collapse;
}

.gsc-context-box .gsc-col {
  padding:1px 0;
  white-space: nowrap;
  vertical-align: middle;
}

.gsc-context-box .gsc-facet-label {
  width: 65px;
  padding-left: 2px;
  text-decoration: underline;
  color: #06c;
  cursor: pointer;
}

.gsc-context-box .gsc-chart {
  width: 32em;
  padding: 3px;
  border-left: 1px solid #A997BE;
  border-right: 1px solid #A997BE;
}

.gsc-context-box .gsc-top {
  border-top: 1px solid #A997BE;
}

.gsc-context-box .gsc-bottom {
  border-bottom: 1px solid #A997BE;
}

.gsc-context-box .gsc-chart div {
  background: #A997BE;
  height: 9px;
}

.gsc-context-box .gsc-facet-result {
  color: #06c;
  width: 30px;
  text-align: right;
  padding-right: 5px;
}

/* Universal one box css. */
.gsc-usr-group-thumbnail {
  display: inline-block;
  max-width: 72px;
  max-height: 72px;
}
.gsc-usr-group-thumbnail img {
  max-height: 72px;
  overflow: hidden;
}
.gs-webResult .gs-title
.gs-title.gsc-usr-group-heading {
  color: #06c;
  cursor: pointer;
}
.gsc-usr-group {
  min-height: 100px;
  zoom: 1;
  display: block;
  line-height: 1.24;
  margin-top: -7px;
  margin-bottom: -7px;
  margin-left: 20px;
}
.gsc-usr-group-content {
  padding-top: 1px;
  padding-bottom: 3px;
}
.gsc-usr-group-content-thumbnail {
  display: inline-block;
  vertical-align: top;
}
.gsc-usr-group-head-result {
  display: inline-block;
  padding-left: 6px;
}
.gsc-usr-group-snippet {
  width: 100%;
  height: 3.6em;
  overflow: hidden;
}
.gsc-usr-group-content-results {
  font-size: 12px;
  padding-left: 1px;
  width: 80%;
  padding-top: 7px;
}
.gsc-usr-group-head-results {
  display:inline-block;
  font-size: 13px;
  padding-left: 6px;
  width: 80%;
}
.gs-webResult .gs-title
.gs-title.gsc-usr-group-all-results {
  font-size: 11px;
  line-height: 10px;
}
.gs-webResult .gs-title
.gs-title.gsc-usr-group-all-results
b {
  font-size: 14px;
  font-weight: 600;
}
.gs-webResult .gs-title
.gs-title.gsc-usr-group-heading
b {
  color: #06c;
}
